# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*$py.class

# Entornos virtuales
venv/
env/
.venv/
ENV/

# Archivos de distribución / empaquetado
build/
dist/
*.egg-info/
.eggs/

# Instaladores
pip-log.txt
pip-delete-this-directory.txt

# PyInstaller
*.manifest
*.spec

# ========================
# Tests / Coverage
# ========================
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.pytest_cache/

# ========================
# IDEs / Editores
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# Jupyter
# ========================
.ipynb_checkpoints/

# ========================
# Logs
# ========================
*.log

# ========================
# SO
# ========================
.DS_Store
Thumbs.db

# ========================
# Variables de entorno
# ========================
.env
.env.*

# ========================
# Otros
# ========================
.cache/
